footer{
    padding-bottom: 2.75rem ;
    background: #FBFBFB; 
    section{
        margin: auto;
        text-align: center; 
        h2{
            margin-bottom: 2.25rem;
        }
        
        li{
            padding: 1.062rem 0;
        }
        a{
            padding: 1.062rem 0;
        }

        a:hover{
            text-decoration: underline;
        }
    }
    .gradient{
        height: 30px;
        margin: auto;
        background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(251,251,251,1) 100%);
        opacity: 0.25;
    }

    hr{
        width: 80%;
        margin: 42px auto;
    }
}