@use "./scss/header.scss";
@use "./scss/main.scss";
@use "./scss/footer.scss";

@media screen and (min-width: 599px) {
    header{
        .content{
            nav{
                display: flex;
                justify-content: space-between;
                align-items: center;
                ul{
                    width: 100%;
                }
                ul:nth-of-type(2){
                    justify-content: right;
                }
            }

        }
    }
    main{
        .main{
            max-width: 1040px;
            margin-top: 6rem;
            margin-bottom: .625rem;
            article{
                display: flex;
                flex-direction:column;
                position: relative;
                justify-content: normal;
                margin-bottom: 1.875rem;
                height: 198px;
                justify-content: space-around;
                .entt{
                    flex-direction: column-reverse;
                    align-items: normal;
                    margin-left: 20rem;
                    p{
                        width: fit-content;
                        margin-left: 0;
                    }
                }
                img{
                    width: 300px;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    
                }
                p{
                    margin-left: 20rem;
                }
            }
        }
        footer{
            section{
                padding-left: 3rem;
                text-align: left;
            }
        }
    }
}
@media screen and (min-width:1024px) {
    header{
        
        margin-bottom: 0;
    }
    main{
        position: relative;
        padding-right: 378px;
        .main{
            padding-top: 3rem;
            margin-top: 0;
            margin: auto;
        }
    }
    footer{

        
        position: absolute;
        right: 0;
        top: 0;
        width: 378px;
        
        .gradient{
            display: none;
        }
        section{
            padding: 3rem;
        }  
    }
}

@media screen and (min-width: 1400px) {
    header{
        nav{
            max-width: 1400px;
            width: 100%;
            margin: auto;
        }
    }
    main{
        max-width: 1400px;
        margin: auto;
    }
}

